<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание нового занятия</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
</head>
<body>
<header>
    <div th:insert="~{blocks/header.html :: header}"></div>
</header>
<h1>Создание нового занятия</h1>

<form th:action="@{/classes}" th:object="${groupClass}" method="post" class="form-create-edit">
    <div>
        <label for="name">Название занятия:</label>
        <input type="text" id="name" th:field="*{name}" placeholder="Введите название занятия" required>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Ошибка</span>
    </div>

    <div>
        <label for="description">Описание:</label>
        <textarea id="description" th:field="*{description}" placeholder="Введите описание занятия"></textarea>
    </div>

    <div>
        <label for="classDate">Дата занятия:</label>
        <input type="date" id="classDate" th:field="*{classDate}" required>
        <span th:if="${#fields.hasErrors('classDate')}" th:errors="*{classDate}">Ошибка</span>
    </div>


        <div>
        <label for="startTime">Время начала:</label>
        <select id="startTime" th:field="*{startTime}" required>
            <option value="" disabled selected>Выберите время</option>
            <option th:each="time : ${availableTimes}"
                    th:value="${time}"
                    th:text="${time}"></option>
        </select>

        <span th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}">Ошибка</span>
    </div>

    <div>
        <label for="instructor">Инструктор:</label>
        <select id="instructor" th:field="*{instructor}" required>
            <option value="" disabled selected>Выберите инструктора</option>
            <option th:each="instructor : ${instructors}"
                    th:value="${instructor.id}"
                    th:text="${instructor.name}"></option>
        </select>
        <span th:if="${#fields.hasErrors('instructor')}" th:errors="*{instructor}">Ошибка</span>
    </div>

    <div>
        <button type="submit" class="form-action-button">Создать занятие</button>
        <a href="/classes">Отмена</a>
    </div>
</form>



</body>
</html>
