body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/fit.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Стили для header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-page_li {
    display: inline-block;
    margin-right: 20px;
}

.header-page-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.header-page-link:hover {
    color: #ccc;
}

.button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

/* Стили для main section */
main {
    padding: 40px 0;
}

section {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}
