<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitlove Fitness Club</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
</head>
<body>
<header>
    <div th:insert="~{blocks/header.html :: header}"></div>
</header>

<main>
    <section>
        <h1>Добро пожаловать в Fitlove Fitness Club!</h1>
        <p>Мы – ваш идеальный партнер на пути к здоровью и физическому совершенству. Fitlove Fitness Club предлагает широкий спектр услуг, направленных на улучшение вашего физического состояния и общее самочувствие.</p>
    </section>

    <section>
        <h2>Наши Услуги</h2>
        <p>В нашем клубе вы найдете:</p>
        <ul>
            <li><strong>Групповые Занятия:</strong> У нас есть занятия по йоге, пилатесу, аэробике, кроссфиту и многим другим направлениям, которые подойдут для любого уровня подготовки.</li>
            <li><strong>Индивидуальные Тренировки:</strong> Наши опытные тренеры помогут разработать персонализированную программу тренировок, учитывающую ваши цели и уровень физической подготовки.</li>
            <li><strong>Специальные Программы:</strong> Мы предлагаем программы для похудения, набору массы, а также реабилитационные программы после травм.</li>
        </ul>
    </section>

    <section>
        <h2>Наши Преимущества</h2>
        <p>Почему стоит выбрать Fitlove Fitness Club?</p>
        <ul>
            <li><strong>Профессиональные Тренеры:</strong> Вся наша команда сертифицированных тренеров имеет опыт работы и стремится к тому, чтобы каждый клиент достиг своих целей.</li>
            <li><strong>Современное Оборудование:</strong> Мы оснащены новейшими тренажерами и оборудованием, чтобы вы могли тренироваться с комфортом и безопасностью.</li>
            <li><strong>Дружелюбная Атмосфера:</strong> Мы создаем комфортную и поддерживающую атмосферу, где каждый чувствует себя частью нашей фитнес-семьи.</li>
        </ul>
    </section>

    <section>
        <h2>Заботьтесь о своем здоровье!</h2>
        <p>Здоровый образ жизни — это не просто мода, а важный аспект нашей жизни. В нашем клубе мы поможем вам не только физически развиваться, но и наладить правильное питание, психологический комфорт и общую гармонию.</p>
        <p>Присоединяйтесь к нам и начните свой путь к здоровью и активной жизни уже сегодня!</p>
    </section>

    <section>
        <h2>Контакты</h2>
        <p>Для получения дополнительной информации и записи на занятия, вы можете связаться с нами по телефону: <strong>+7 (123) 456-78-90</strong> или написать нам на электронную почту: <strong>info@fitlove.ru</strong>.</p>
    </section>
</main>

<footer>
    <p>&copy; 2024 Fitlove Fitness Club. Все права защищены.</p>
</footer>


</body>
</html>
