<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energize Fitness Center</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
</head>
<body>
<header>
    <div th:insert="~{blocks/header.html :: header}"></div>
</header>

<main>
    <section>
        <h1>Добро пожаловать в Energize Fitness Center!</h1>
        <p>Добейтесь своих фитнес-целей вместе с нами! **Energize Fitness Center** — это не просто тренировки, это вдохновляющее пространство для всех, кто стремится улучшить здоровье и качество жизни. Мы предлагаем простой и удобный способ взаимодействия через наш онлайн-сервис.</p>
        <p>Благодаря нашему сайту вы сможете эффективно планировать свои тренировки, записываться на занятия и получать поддержку от профессиональных тренеров.</p>
    </section>

    <section>
        <h2>Наши Возможности</h2>


            <li>Регистрация и вход в личный кабинет для удобного планирования тренировок.</li>
            <li>Доступ к актуальному расписанию и онлайн-запись на занятия.</li>
            <li>Уведомления о предстоящих тренировках и специальных предложениях.</li>


    </section>

    <section>
        <h2>Присоединяйтесь к нам уже сегодня!</h2>
        <p>Energize Fitness Center — это пространство, где здоровье становится стилем жизни. Начните свой путь к лучшему себе вместе с нами! Наши программы, оборудование и команда профессионалов готовы помочь вам на каждом этапе.</p>
    </section>
</main>

<footer>
    <p>&copy; 2024 Energize Fitness Center. Все права защищены.</p>
</footer>

</body>
</html>
