<!--<html xmlns:th="http://www.thymeleaf.org" >-->
<!--<div th:fragment="header">-->
<!--    <div class="container main-container">-->
<!--        <li class="header-page_li">-->
<!--            <a class="header-page-link" href="/classes">-->
<!--                <span class="header-page-text">Занятия</span>-->
<!--            </a>-->
<!--        </li>-->

<!--        <li class="header-page_li">-->
<!--            <a class="header-page-link" href="/clients">-->
<!--                <span class="header-page-text">Клиенты</span>-->
<!--            </a>-->
<!--        </li>-->

<!--        <li class="header-page_li">-->
<!--            <a class="header-page-link" href="/main">-->
<!--                <span class="header-page-text">ГЛАВНАЯ</span>-->
<!--            </a>-->
<!--        </li>-->
<!--    </div>-->
<!--</div>-->


<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--    <title>Website with Login & Registration Form</title>-->
<!--    <link rel="stylesheet" href="style.css" />-->
<!--    &lt;!&ndash; Unicons &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />-->
<!--</head>-->


<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <div class="container main-container">
        <li class="header-page_li">
            <a class="header-page-link" href="/classes">
                <span class="header-page-text">Занятия</span>
            </a>
        </li>

        <li class="header-page_li">
            <a class="header-page-link" href="/clients">
                <span class="header-page-text">Клиенты</span>
            </a>
        </li>

        <li class="header-page_li">
            <a class="header-page-link" href="/main">
                <span class="header-page-text">ГЛАВНАЯ</span>
            </a>
        </li>



        <button class="button" id="form-open">Login</button>
    </div>
</div>


